<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title style="text-align:left">
      Memories
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1">
        <!--<ion-icon slot="icon-only" name="add-circle"></ion-icon>-->
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4" *ngFor="let post of post">
        <div class="image-container">
          <ion-img [src]="post.img"></ion-img>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
