<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Vibe Checker</ion-title>
    <ion-buttons slot="start">
      <ion-back-button>  
        <ion-icon name="arrow-back-outline">
        </ion-icon> 
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<form [formGroup]="new_item_form" (submit)="createItem(new_item_form.value)">
    <ion-item>
      <ion-label color="dark" position="floating">Title</ion-label>
      <ion-input type="text" formControlName="title" required></ion-input>
    </ion-item>
    
<!--
    <ion-button (click)="captureImage()">
      Click Picture
    </ion-button>
  -->  
   
<!--<img [src]="clickedImage" />-->
    <ion-button color="warning" class="submit-btn" expand="block" type="submit" [disabled]="!new_item_form.valid">Create</ion-button>
  </form>

</ion-content>