<ion-header>
  <ion-toolbar>
    <ion-title>Your Vibe Check!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="currentpost.img">
  </ion-card>
  <ion-card>
    <ion-item>
      <h2>Your Vibe: "{{currentpost.vibe}}"</h2>
      
    </ion-item>
    <ion-item>
      <em>Caption: "{{currentpost.title}}"</em>

    </ion-item>
  </ion-card>
<ion-row>
<ion-col size="6">
<ion-button  expand="block" (click)= "goToFeed()">Such a Vibe!</ion-button>
</ion-col>
<ion-col size="6">
<ion-button  expand="block" (click)= "deletePost()">Not Feeling it :/</ion-button>
</ion-col>
</ion-row>
</ion-content>
