<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Your Vibe Check!</ion-title>
    <ion-back-button>
    <ion-icon name="arrow-back-outline"> 
    </ion-icon> 
  </ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="currentpost.img">
  </ion-card>
  <ion-card>
    <ion-item>
      <h2>Your Vibe: "{{currentpost.vibe}}"</h2>
      
    </ion-item>
    <ion-item>
      <em>Caption: "{{currentpost.title}}"</em>

    </ion-item>
  </ion-card>

<ion-button color="warning" (click)= "goToFeed()">Such a Vibe!</ion-button>
<ion-button color="warning" (click)= "deletePost()">Not Feeling the Vibe :/</ion-button>
</ion-content>
