<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Update Password</ion-title>
    <ion-buttons slot="start">
      <ion-back-button>
        <ion-icon name="arrow-back-outline">
        </ion-icon>
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="updatePassword" (submit)="update(updatePassword.value)">

    <ion-item>
        <ion-label color="dark" position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>

    <ion-item>
        <ion-label color="dark" position="floating">Confirm Password</ion-label>
        <ion-input type="password" formControlName="confirmpassword" required></ion-input>
    </ion-item>

    <ion-button color="warning" class="submit-btn" expand="block" type="submit" [disabled]="!updatePassword.valid">Update Password</ion-button>
    </form>
</ion-content>