
.fake-skeleton{
  width: 60%;
}


// ion-content ion-toolbar {
//   --background: dark;}
:root {
    .dark-theme {
        --ion-color-primary: #eb4b58;
        --ion-color-primary-rgb: 235, 75, 88;
        --ion-color-primary-contrast: #ffffff;
        --ion-color-primary-contrast-rgb: 255,255,255;
        --ion-color-primary-shade: #cf424d;
        --ion-color-primary-tint: #ed5d69;

        ion-content {
            --background: #2c4b84;
        }
    }
}

