<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Friends
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <button (click)="logout()">logout</button>
  <ion-list>
 
    <ng-container *ngIf="!friends || friends.length == 0">
      <div *ngFor="let n of [0,1,2]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>
          <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>
    
    <ion-item-sliding *ngFor="let item of friends">
      <ion-item lines="inset" button [routerLink]="['/addFriends', item.id]">
        
        <ion-note slot="end" color="primary">{{ item.priority }}</ion-note>
      </ion-item>
 
      <ion-item-options side="end">
        <ion-item-option (click)="remove(item)" color="secondary">
          Delete
          <ion-icon name="trash-outline" slot="end"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
 
  </ion-list>
 
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/addFriends" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-button (click)="enableDark()" expand="full">
      Enable Dark Theme
    </ion-button>
    <ion-button (click)="enableLight()" expand="full">
      Enable Light Theme
    </ion-button>
 
</ion-content>
  <!---  <ion-buttons slot="end">
      <ion-button (click)="addFriend()">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
    <ion-progress-bar *ngIf="showProgress == 1"  type="indeterminate"></ion-progress-bar>
    
    <ion-list>
      <ion-item *ngFor="let friend of friends">
        <ion-thumbnail slot="end"> 
          <ion-img [src]="friend.image"></ion-img>

         </ion-thumbnail>

  <ion-label>
    {{ friend.email }}
  </ion-label>
</ion-item>
    </ion-list>

  
  

  
</ion-content>
-->
