<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      Friends Page
    </ion-title>
    <!--<div class="login-header ion-padding">
      <img class="logo-img" src="assets/friends.png">
    </div>-->
    <ion-buttons slot="end">
      <ion-button (click)="addFriend()">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="Pull to refresh"
        refreshingSpinner="circles"
        refreshingText="Refreshing...">
      </ion-refresher-content>
    </ion-refresher>
    <ion-progress-bar *ngIf="showProgress == 1"  type="indeterminate"></ion-progress-bar>
    
    <ion-list>
      <ion-item *ngFor="let friend of friends" (click)="goToFriend(friend)">
        <ion-thumbnail slot="end"> 
          <ion-img [src]="friend.image"></ion-img>

         </ion-thumbnail>

  <ion-label>
    {{ friend.email }}
  </ion-label>
</ion-item>
    </ion-list>

  
  

  
</ion-content>
