<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align:center">
      <ion-avatar class="avatars">
        <ion-img [src]="profilePic"></ion-img>
      </ion-avatar>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToSettings()">
        <ion-icon slot="icon-only" name="build-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!--<ion-title style="text-align:left">
      Profile
    </ion-title>-->
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4" *ngFor="let image of images">
        <div class="image-container">
          <ion-img [src]="image.img"></ion-img>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
