<ion-header [translucent]="true">
    <ion-toolbar color="warning">
      <ion-title>
        Friend Search
      </ion-title>
      <ion-buttons>
      <ion-back-button> 
        <ion-icon name="arrow-back-outline">
        </ion-icon>
      </ion-back-button>
    </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content padding>
      <ion-list>
    
          <ion-item>
            <ion-label postion="floating">Friends Username</ion-label>
            <ion-input type="text" [(ngModel)]="email"></ion-input>
          </ion-item>
          
    
      </ion-list>
      <ion-button color="warning" fill="solid" expand="block" (click)="addFriend(email)">Add Friends</ion-button>
      <ion-button color="warning" fill="solid" expand="block"  (click)="removeFriend()">Delete Friend</ion-button>
    </ion-content>