<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Friend Search
      </ion-title>
      <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content padding>
      <ion-list>
    
          <ion-item>
            <ion-label postion="floating">Friends Username</ion-label>
            <ion-input type="text" [(ngModel)]="email"></ion-input>
          </ion-item>
          
    
      </ion-list>
      <ion-button fill="solid" expand="block" color="dark" (click)="addFriend(email)">Add Friends</ion-button>
      <ion-button fill="solid" expand="block" color="dark" (click)="removeFriend()">Delete Friend</ion-button>
    </ion-content>