<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Update Info</ion-title>
    <ion-buttons slot="start">
      <ion-back-button>
        <ion-icon name="arrow-back-outline">
        </ion-icon>
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="updateInfo" (submit)="update(updateInfo.value)">

    <ion-item>
        <ion-label color="dark" position="floating">First Name</ion-label>
        <ion-input type="text" formControlName="fname" required value={{fname}}></ion-input>
    </ion-item>

    <ion-item>
        <ion-label color="dark" position="floating">Last Name</ion-label>
        <ion-input type="text" formControlName="lname" required value={{lname}}></ion-input>
    </ion-item>

    <ion-button color="warning" class="submit-btn" expand="block" type="submit" [disabled]="!updateInfo.valid">Update Info</ion-button>
    </form>
</ion-content>
