<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>

      <ion-item>
        <ion-label postion="floating">Username</ion-label>
        <ion-input type="text" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label postion="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label postion="floating">Confirm Password</ion-label>
        <ion-input type="password" [(ngModel)]="cpassword"></ion-input>
      </ion-item>

  </ion-list>

  <ion-button fill="solid" expand="block" color="dark" (click)="signup()">Signup</ion-button>
 
</ion-content>