<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Register</ion-title>
    <ion-buttons slot="start">
      <ion-back-button>
        <ion-icon name="arrow-back-outline">
        </ion-icon>
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>

      <ion-item>
        <ion-label postion="floating">Email</ion-label>
        <ion-input type="text" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label postion="floating">First Name</ion-label>
        <ion-input type="text" [(ngModel)]="fname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label postion="floating">Last Name</ion-label>
        <ion-input type="text" [(ngModel)]="lname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label postion="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label postion="floating">Confirm Password</ion-label>
        <ion-input type="password" [(ngModel)]="cpassword"></ion-input>
      </ion-item>

  </ion-list>

  <ion-button color="warning" fill="solid" expand="block" (click)="signup()">Signup</ion-button>
 
</ion-content>