<ion-header>
  <ion-toolbar color="warning">
    <!--I changed the name to setting from Update email-->
    <ion-title>Settings</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab3"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
<ion-label>Email</ion-label>
<div>
<ion-label>{{userEmail}}</ion-label>
</div>
</ion-item>
<ion-item>
<ion-label>First Name</ion-label>
<div>
<ion-label>{{firstName}}</ion-label>
</div>
</ion-item>
<ion-item>
<ion-label>Last Name</ion-label>
<div>
<ion-label>{{lastName}}</ion-label>
</div>
</ion-item>
<ion-item-divider>Account</ion-item-divider>
<ion-item (click)="goToUpdateEmail()" detail>
<ion-label>
Update Email
</ion-label>
</ion-item>

<ion-item (click)="goToChangePassword()" detail>
<ion-label>
Change Password
</ion-label>
</ion-item>

<ion-item (click)="goToUpdateInfo()" detail>
<ion-label>
Update Name
</ion-label>
</ion-item>

<ion-item (click)="captureImage()">
  <ion-label>
  Upload Profile Picture
  </ion-label>
  </ion-item>

  <ion-button color="warning" fill="solid" expand="block" (click)="logout()">Logout</ion-button>
  <!--<ion-item (click)="logout()">
    <ion-label>
    Logout
    </ion-label>
    </ion-item>>
  -->

</ion-content>
